{% extends "main/base.html" %}      
{% load static %}

{% block title %}
2024年度 甲陽学院高等学校 音楽と展覧の会 Circles
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/circles.css' %}">
{% endblock %}


{% block contents %}
<h2>Circles</h2>
<div class="circles">
    

    <form method="GET" class="circles__form">
        <i class="fas fa-search"></i>
        {{ form.keyword }}
        <button type="submit" class="circles__form_submit">検索</button>
    </form>
    <div  class="circles__container">
        {% for circle in circles %}
        <div class="circles__container__block">
            <a class="circles__container__block__link" href="{% url 'circles_detail' circle.pk %}">
                <div class="circles__container__block__logo">
                    {% if circle.logo %}
                    <img src="{{ circle.logo.url }}"  class="circles__container__block__logo_img"/>
                    {% else %}
                    {% endif %}
                </div>
                <p class="circles__container__block_name">{{ circle.name}}</p>
            </a>
            
            <p class="circles__container__block_location"><span>@</span>{{ circle.location }}</p>
            
        </div>

        {% endfor %}
    </div>
    
</div>

{% endblock %}


{% block extra_js %}
{% endblock %}   