{% extends "main/base.html" %}      
{% load static %}

{% block title %}
2024年度 甲陽学院高等学校 音楽と展覧の会 Home
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block contents %}

    
    <div class="image">
    <img src = "{% static 'main/images/rogo5.png' %}" class = "image_image">
    </div>
    <div class="home">
        <h3 class="home_num">第77回</h3>
        <h1 class="home_koyo">甲陽学院高等学校</h1>
        <h1 class="home_onten">音楽と展覧の会</h1>


        <p class="home_day">9.22 SUN</p>
        <p class="home_time">9:00~15:00</p>


        <p class="home_countdown">開催まで</p>
        <p class = "home_hour"></p>

    </div>


{% endblock %}


{% block extra_js %}
    <script src="{% static 'main/javascript/countdown.js' %}"></script>
    <script>
        $(function() {
        $("#header").load("header.html");
        $("#footer").load("footer.html");
        });
    </script> 
{% endblock %}   


