{% extends "main/base.html" %}      
{% load static %}

{% block title %}
2024年度 甲陽学院高等学校 音楽と展覧の会 ホーム
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block contents %}

    <div class = "index-top">
        <img src = "{% static 'main/images/rogo5.png' %}" class = "index-top-img">
        <h1 class = "index-top-title">第77回<br>甲陽学院高等学校<br>音楽と展覧の会</h1>
        <h1 class = "index-top-data">9.22 SUN</span><br>9:00~15:00</h1>
    </div>
    <div class = "index-countdown-box">
        <p class = "index-countdown-title">開催まで</p>
        <span class = "index-countdown-content"></span>
    </div>


{% endblock %}


{% block extra_js %}
    <script src="{% static 'main/javascript/countdown.js' %}"></script>
    <script src="{% static 'main/javascript/password.js' %}"></script>
    <script>
        $(function() {
        $("#header").load("header.html");
        $("#footer").load("footer.html");
        });
    </script> 
{% endblock %}   


