{% extends "main/base.html" %}      
{% load static %}

{% block title %}
2024年度 甲陽学院高等学校 音楽と展覧の会 Math
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/math.css' %}">

{% endblock %}



{% block contents %}
<h2></h2>
    
<div class="all">
    <h1>数学同好会　問題&解答一覧</h1>
    <div class="explain">
    音展にお越しいただきありがとうございました。<br>
    数学同好会で配布された問題とその解答は、こちらからご覧いただけます。<br>
    スマートフォンでは読みにくいため、PCで閲覧することをおすすめします。
    </div>
    <div class="qa">
        <p class="qa_main">
            \(\mathbf{1.}\)
        </p>
        <p class="qa_sub">
            【問題】<br>
            <img src="{% static 'main/images/math/onten1.png' %}" alt="1." align="left">

            角 \(C\) が直角となるような三角形 \(ABC\) の辺 \(BC\) 上に点 \(D\) をとると，角 \(DAC:\) 角 \(BAD=1:2\)，\(AD\) の長さは \(3 \mathrm{cm}\)，\(AB\) の長さは \(5 \mathrm{cm}\) となりました．\(BD:DC\) を求めてください．<br>
            <br clear="left">
            【解答】<br>
            \(C\) に関して \(D\) と対称な点を \(E\) とすると，\(AE=3 \mathrm{cm}\)，\(AB=5\mathrm{cm}\)，\(∠BAD=∠DAE\) より \(BD:DE=5:3\)．\(DC=CE\) より，\(BD:DC=10:3\) である．
        </p>
        <p class="qa_main">
            \(\mathbf{2.}\)
        </p>
        <p class="qa_sub">
            【問題】<br>
            <img src="{% static 'main/images/math/onten2.png' %}" alt="2." align="left">
            四角形 \(ABCD\) について，角 \(DBC=20°\)，角 \(BDC=90°\)，角 \(ADB=40°\)，\(AD:BC=1:2\) が成り立ちました．このとき角 \(ABD\) は何度ですか？<br>
            <br clear="left">
            【解答】<br>
            \(BC\) の中点を \(M\) とすると，\(AD=DM\) と \(∠ADM=60°\) より三角形 \(ADM\) は正三角形．\(∠DMC=40°\) から \(∠AMB=80°\) で，\(AM=MB\) と合わせて \(∠ABD=50-20=30°\)  である．
        </p>
        <p class="qa_main">
            \(\mathbf{3.}\)
        </p>
        <p class="qa_sub">
            【問題】<br>
            <img src="{% static 'main/images/math/onten3.png' %}" alt="3." align="left">
            四角形 \(ABCD\) について，線分 \(BD\) 上に点 \(E\) を取ると，\(AE=BD\) で，角 \(EAD=\) 角 \(AED=\) 角 \(EBC=\) 角 \(BCE=40°\) が成り立ちました．このとき角 \(BDC\) は何度ですか？<br>
            <br clear="left">
            【解答】<br>
            \(BD\) の \(D\) 側の延長線上に，三角形 \(ADP\) と \(DEC\) が合同となるような点 \(P\) をとると，\(EP=ED+DP=ED+EC=ED+BE=BD=AE\) すなわち三角形 \(AEP\) は二等辺三角形である.よって，\(∠EDC= ∠DAP=70-40=30°\) である．
        </p>
        <p class="qa_main">
            \(\mathbf{4.}\)
        </p>
        <p class="qa_sub">
            【問題】<br>
            <img src="{% static 'main/images/math/onten4.png' %}" alt="4." align="left">
            角 \(A=90°\) ，角 \(B=90°\) ，角 \(C=120°\) なる四角形 \(ABCD\) があります．辺 \(AB\) 上に点 \(E\)，辺 \(BC\) 上に点 \(F\) をとると，\(BF=9,FC=2,CD=8\) ，角 \(EFD=120°\) が成り立ちました．\(AE:EB\) を求めてください．<br>
            <br clear="left">
            【解答】<br>
            \(BC\) 上に \(∠EPB=60°\) となるような点 \(P\) をとると，三角形 \(EPF\) と \(FCD\) が相似．このとき \(EP:BP:PF=2:1:8\) より \(BP=1\)．\(ABQD\) が長方形となるような点 \(Q\) をとると，三角形 \(BPE\) と \(QCD\) は相似で相似比は \(1:4\)．以上より，\(AE:EB=3:1\) である．
        </p>
        <p class="qa_main">
            \(\mathbf{5.}\)
        </p>
        <p class="qa_sub">
            【問題】<br>
            <img src="{% static 'main/images/math/onten5.png' %}" alt="5." align="left">
            正方形 \(ABCD\) の辺 \(CD\) 上に点 \(E\) をとり，直線 \(AE\) と \(BC\) の交点を /(F\)，\(AE\) と \(BD\) の交点を \(G\) とすると，\(AG:EF=1:2\) が成立しました．このとき，角 \(AFB\) は何度ですか？<br>
            <br clear="left">
            【解答】<br>
            \(EF\) の中点を \(M\) とすると，\(MC=MF=AG=GC\) で，\(∠GCB+∠MCF=90°\) と合わせて三角形 \(GCM\) は直角二等辺三角形．よって \(∠EMC=45°\) となるが，これは \(∠AFB\) の \(2\) 倍なので \(∠AFB=22.5°\) である．
        </p>
        <p class="qa_main">
            \(\mathbf{6.}\)
        </p>
        <p class="qa_sub">
            【問題】<br>
            <img src="{% static 'main/images/math/onten6.png' %}" alt="6." align="left">
            角 \(BAC=\) 角 \(BCD=60°\) なる \(AD\parallel BC\) の台形 \(ABCD\) について，以下が成立しました．
            $$ AC-AB=7 \mathrm{cm},\quad  BC-CD=3 \mathrm{cm}$$
            このとき \(BC\) の長さは何 \(\mathrm{cm}\) ですか？
            <br clear="left">
            【解答】<br>
            直線 \(AC\) に関して点 \(D\) と同じ側に，三角形 \(AEC\) が正三角形となるような点 \(E\) をとる．直線 \(CD\) と \(AE\) の交点を \(F\) として，
            $$AC=EC, \quad ∠BAC=∠FEC=60°, \quad ∠ACB=∠ECF=60°-∠ACD$$
            より，三角形 \(ABC\) と三角形 \(EFC\) は合同．このとき， 
            $$DF=CF-CD=BC-CD=3, \quad AF=AE-EF=AC-AB=7$$
            となる．\(AD// BC\) より，\(∠ADF=60°\) で，三角形 \(ADF\) と三角形 \(CAF\) の相似より，
            $$BC=CF=\dfrac{49}{3}$$
            である．
        </p>
        <p class="qa_main">
            \(\mathbf{7.}\)
        </p>
        <p class="qa_sub">
            【問題】<br>
            垂心を \(H\)，外心を \(O\) とする鋭角三角形 \(ABC\) があり，\(3\) 点 \(A,B,C\) から対辺に下した垂線の足をそれぞれ \(D,E,F\) とする．直線 \(AH\) と直線 \(EF\) の交点を \(G\)，線分 \(BC\) の中点を \(M\)，線分 \(EF\) の中点を \(N\) とするとき，以下の問に答えよ．<br>
            \( (1) \) \(\angle BAH=\angle CAO\) を示せ．<br>
            \( (2) \) \(AO\perp FE\) を示せ．<br>
            \( (3) \) \(MN\perp FE\) を示せ．<br>
            \( (4) \) \(4\) 点 \(B,G,N,C\) は同一円周上にあることを示せ．
            <br>
            【解答】<br>
            \(AB=AC\) のときは全て容易に示される．以下では対称性より \(AB＜AC\) とする．<br>
            <p>\( (1) \)<br>円周角の定理より，
            $$∠CAO=∠90°-\dfrac{1}{2}∠AOC=90°-∠ABD=∠BAD$$
            より，示された．</p>
            <p>\( (2) \)<br> \( (1) \)を三角形 \(AEF\) にも適応することで三角形 \(AEF\) の垂心は \(AO\) 上にあることが従う．よって \(AO⊥FE\) である．</p>
            <p>\( (3) \)<br> \(H\) を \(M\) に関して対称移動させた点を \(X\) とすると，四角形 \(HBXC\) は平行四辺形で，特に \(AX\) が円 \(ABC\) の直径であることが従う．\(AH\) の中点を \(L\) とすると，中点連結定理より \(AX//LM\)，すなわち \(LM⊥FE\) が従うが，一方 \(L\) は三角形 \(AEF\) の外心より \(LN⊥EF\)．以上より \(L,M,N\) は共線で，特に \(MN⊥FE\) は示された．</p>
            <p>\( (4) \)<br> \(BC\) と \(EF\) の交点を \(Y\) とする． \( (3) \)より \(4\) 点 \(D,G,N,M\) は共円で，四角形 \(BFEC\) や四角形 \(MDFE\) が円に内接する（九点円の定理）ことと合わせて，方べきの定理から，
            $$NY\cdot GY=MY\cdot DY=EY\cdot FY=CY\cdot BY$$
            より，方べきの定理の逆から，示された．</p>
        </p>
        <p class="qa_main">
            \(\mathbf{8.}\)
        </p>
        <p class="qa_sub">
            【問題】<br>
            \(2^n+2n\)が平方数となるような正の整数\(n\)を全て求めよ．
            <br>
            【解答】<br>
            \(n\) が奇数のとき，\(n≧3\) で \(2^n+2n\equiv 2\pmod 4\) となるがこれは平方剰余でないので矛盾．よってあり得るものは \(n=1\) のときで，逆にこれは満たす．\(n\) が偶数のとき，\(n=2k\) とおくと，\(l\) を整数として
            $$(l-2^k)(l+2^k)=4k$$ 
            となるが，\(k≧4\) で \(2^k≧4k\) となるので \(k≧4\) のときこれは達成されない．よってあり得るものは \(k=1,2,3\) だが，これらはすべて条件を満たさない．以上より，\(n=1\) である．
        </p>
        <p class="qa_main">
            \(\mathbf{9.}\)
        </p>
        <p class="qa_sub">
            【問題】<br>
            一辺の長さが \(1\) である正方形があり，二本の対角線をそれぞれ \(l_1,l_2\) とする．\(l_1\) と \(l_2\) の交点を \(O\) として，\(2022\) 本の \(O\) を通る直線 \(l_3,l_4,…,l_{2024}\) を新たに書き加える．ただし，\(l_1,l_2,…,l_{2024}\) はどの二本も一致しないものとする．このとき，この正方形は \(l_1,l_2,…,l_{2024}\) によって \(4048\) 個の三角形 \(T_1,T_2,…,T_{4048}\) に分割された．\(Tn\) の内接円の半径を \(r_n\) とするとき，
            $$\sum_{k=1}^{4048} r_k > 2 \sqrt{2}-2$$
            が成り立つことを示せ．<br>
            <br>
            【解答】<br>
            はじめに，以下を示す．<br>
            <br>
            三角形 \(ABC\) について，\(A\) を通り，線分 \(BC\)（端点除く）と交わる相異なる \(k\) 本の直線 \(l_1,l_2,...,l_k\) を書き加えたとき，三角形 \(ABC\) は \(k+1\) 個の三角形 \(T_1,T_2,...,T_{k+1}\) に分割された．\(T_n\) の内接円の半径を \(r_n\) ，三角形 \(ABC\) の内接円の半径を \(R\) とするとき，
            $$r_1+r_2+...+r_{k+1}> R$$
            が成り立つ．<br>
            ＜証明＞<br>
            (ⅰ) \(k=1\) のとき<br>
            　\(l_1\) と \(BC\) の交点を \(D\)，三角形 \(ABC\) の面積を \(S\)，周長を \(p\)，三角形 \(ABD\) の面積を \(S_1\)，周長を \(p_1\)，三角形 \(ADC\) の面積を \(S_2\)，周長を \(p_2\) とする．ここで，
            $$R=\dfrac{2S}{p},\quad r_1=\dfrac{2S_1}{p_1},\quad r_2=\dfrac{2S_2}{p_2}$$
            また，\(S=S_1+S_2\)，\(p=p_1+p_2-2AD\) より，
            $$R=\dfrac{2S_1+2S_2}{p_1+p_2-2AD}$$
            である．一方，三角不等式より，
            $$p_2-2AD=CA+DC-AD>0$$
            よって，
            $$\dfrac{2S_1}{p_1+p_2-2AD}<\dfrac{2S_1}{p_1}=r_1$$
            同様に，
            $$\dfrac{2S_2}{p_1+p_2-2AD}<\dfrac{2S_2}{p_2}=r_2$$
            よって，
            $$R=\dfrac{2S_1}{p_1+p_2-2AD}+\dfrac{2S_2}{p_1+p_2-2AD}＜r_1+r_2$$
            より，示された．<br>
            <br>
            (ⅱ) \(k≦ p (p≧1)\) のとき，命題の成立を仮定する．<br>
            　\(k=p+1\) のときについて，直線 \(l_n\) と \(BC\) の交点を \(P_n\) とすると，（ \(B,P_1,P_2,...,P_k,C\) の順に並んでいるとする）三角形 \(ABP_k\) の内接円の半径を \(R'\) として，
            $$r_1+r_2+...+r_k> R'$$
            よって，
            $$R＜R'+r_{k+1}＜r_1+r_2+...+r_{k+1}$$
            より，\(k=p+1\) の時も成立する．<br>
            <br>
            (ⅰ)(ⅱ)より示された．<br>
            <br>
            　ここで，正方形を \(ABCD\) とする．三角形 \(AOB,BOC,COD,DOA\) の内接円の半径は全て \(\dfrac{\sqrt{2}-1}{2}\) で，この四つの三角形のうち少なくとも二つは必ず二つ以上の三角形に分割されているので，
            $$\sum_{k=1}^{4048} r_k>4\times\dfrac{\sqrt{2}-1}{2}=  2 \sqrt{2}-2$$
            が成り立つ．よって示された．
        </p>
        <p class="qa_main">
            \(\mathbf{10.}\)
        </p>
        <p class="qa_sub">
            【問題】<br>
            正の実数に対して定義され，正の実数値を取る関数 \(f\) であって，任意の正の実数 \(x,y\) に対し
            $$(x+1)f(y)=f(xf(y))+f(f(y))$$
            を満たすものを全て求めよ．<br>
            <br>
            【解答】<br>
            \(P(p,q)\) で与式への \(x=p,y=q\) の代入を表す．\(f(a)=f(b)\) なる \(a,b\) について，\(P(\dfrac{b}{f(a)},a)\) より
            $$f(a)+b=f(b)+f(f(a))$$
            \(P(\dfrac{a}{f(b)},b)\) より
            $$f(b)+a=f(a)+f(f(b))$$
            この二式を比較して，\(a=b\)．すなわち \(f\) は単射．ここで，\(P(1,x)\) より \(f(f(x))=f(x)\) で，\(f\) は単射より \(f(x)=x\) である．逆にこれは与式を満たす．
        </p>
        <p class="qa_main">
            \(\mathbf{11.}\)
        </p>
        <p class="qa_sub">
            【問題】<br>
            鋭角三角形 \(ABC\) があり，その垂心を \(H\) とする．\(3\) 点 \(A,B,C\) から対辺に下した垂線の足をそれぞれ \(D,E,F\) とし，三角形 \(BEC\) の外接円と \(AD\) の交点を \(P\) とする．また，三角形 \(BEC\) の外接円の \(P\) における接線と三角形 \(ABC\) の外接円の交点を \(X,Y\) とする．このとき，\(4\) 点 \(X,Y,E,F\) は同一円周上にあることを示せ．
            <br>
            【解答】<br>
            \(AB=AC\) のとき，四角形 \(XYEF\) は等脚台形より題意は示される．以下では対称性より \(AB < AC\) とする． \(EF\) と \(BC\) の交点を \(Z\) とすると，円 \(BEC\) による反転で \(D\) が \(Z\) に移ることに留意すると，\(∠ZPM=∠PDM=90°\) から \(ZP\) は円 \(BEC\) の接線，すなわち \(Z,X,Y\) は共線である．よって方べきの定理より
            $$YZ\cdot XZ=CZ\cdot BZ=EZ\cdot FZ$$
            から，方べきの定理の逆より示された．
        </p>
        <p class="qa_main"></p>
            \(\mathbf{12.}\)
        </p>
        <p class="qa_sub">
            【問題】<br>
            \(AB < AC\) なる鋭角三角形 \(ABC\) について，その垂心を \(H\) とする．線分 \(BC\) の中点を \(M\)，線分 \(AH\) の中点を \(N\)，\(\angle BAC\) の外角の二等分線を \(l\) とする．また，\(M\) を通り \(l\) に垂直な直線と直線 \(AB,AC\) との交点をそれぞれ \(P,Q\) とし，三角形 \(APQ\) の外接円と \(l\) の交点を \(R\) とする．ここで，\(MP\) と \(RH\) の交点を \(X\) とし，三角形 \(NXH\) の外接円と直線 \(MP\) の交点を \(Y\) とする．このとき，\(BC\parallel HY\) を示せ．
            <br>
            【解答】<br>
            \(4\) 点 \(A,B,C,R\) の共円を示す．四角形 \(ABMQ\) のミケル点を \(R'\) とし，\(R\) と \(R'\) が一致することを示せばよく，以下では \(R'A\) が \(∠BAC\) の外角の二等分線であることを示す．<br>
            三角形 \(ABC\) の内心を\(I\) とすると，\(AI\parallel PM\) より
            $$∠APQ=∠BAI=∠CAI=∠AQP$$
            より，三角形 \(APQ\) は二等辺三角形．このとき \(∠AR'P=∠AR'Q\) である．また，\(△APR'∽△M'R'C\)，\(△AQR'∽△BMR'\) より，
            $$∠BR'M=∠QR'A=∠PR'A=∠MR'C$$
            で，\(M\) が \(BC\) の中点であることをあわせると，\(BC⊥R'M\) すなわち \(R'A\parallel PM\) が得られ，これは \(R'A\) が \(∠BAC\) の外角の二等分線であることを示す．よって示された．<br>
            ここで，\(∠RMB=∠RQA=∠RDA=90°\) より，直線 \(MP\) は三角形 \(ABC\) の \(R\) におけるシムソン線である．ここで，有名事実として \(HX=XR\) であるから，\(X\) は三角形 \(ABC\) の九点円上にある． \(A\) から \(BC\) に下した垂線の足を \(D\) とすると，
            $$∠DMX=180°-∠DNX=∠HYX$$
            より，\(BC\parallel HY\) である． 
        </p>
    </div>
</div>


{% endblock %}


{% block extra_js %}
<script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
{% endblock %}   