{% extends "main/base.html" %}      
{% load static %}

{% block title %}
2024年度 甲陽学院高等学校 音楽と展覧の会 TIMETABLE
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/base.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/timetable.css' %}">
{% endblock %}


{% block contents %}
    <h2>TIMETABLE</h2>
    <!-- <p style="margin: 40px; display: flex; justify-content: center; font-size: 30px; font-weight: 500;">coming soon</p> -->
    <div class="timetable">
            <div class="timetable__place" id="stage"><p class="timetable__place_txt">中央ステージ</p></div>
            <div class="timetable__place" id="auditorium"><p class="timetable__place_txt">講堂</p></div>
            <div class="timetable__place" id="merger"><p class="timetable__place_txt">合併教室</p></div>
            <div class="timetable__place" id="physics"><p class="timetable__place_txt">物理講義室</p></div>
            <!-- <div class="timetable__place" id="audiovisual"><p class="timetable__place_txt">視聴覚教室</p></div> -->

            <div class="timetable__space timetable__sticky" id="space"></div>
            <div class="timetable__margin timetable__sticky" id="margin"></div>
            <!-- <div class="timetable__place" id="fix-x"></div> -->


            <div class="timetable__time timetable__sticky" id="nine"><p class="timetable__time_txt">9:00</p></div>
            <div class="timetable__time timetable__sticky" id="nine-thirty"><p class="timetable__time_txt">9:30</p></div>
            <div class="timetable__time timetable__sticky" id="ten"><p class="timetable__time_txt">10:00</p></div>
            <div class="timetable__time timetable__sticky" id="ten-thirty"><p class="timetable__time_txt">10:30</p></div>
            <div class="timetable__time timetable__sticky" id="eleven"><p class="timetable__time_txt">11:00</p></div>
            <div class="timetable__time timetable__sticky" id="eleven-thirty"><p class="timetable__time_txt">11:30</p></div>
            <div class="timetable__time timetable__sticky" id="twelve"><p class="timetable__time_txt">12:00</p></div>
            <div class="timetable__time timetable__sticky" id="twelve-thirty"><p class="timetable__time_txt">12:30</p></div>
            <div class="timetable__time timetable__sticky" id="thirteen"><p class="timetable__time_txt">13:00</p></div>
            <div class="timetable__time timetable__sticky" id="thirteen-thirty"><p class="timetable__time_txt">13:30</p></div>
            <div class="timetable__time timetable__sticky" id="fourteen"><p class="timetable__time_txt">14:00</p></div>
            <div class="timetable__time timetable__sticky" id="fourteen-thirty"><p class="timetable__time_txt">14:30</p></div>
            <div class="timetable__time timetable__sticky" id="fifteen"><p class="timetable__time_txt">15:00</p></div>
            <div class="timetable__time timetable__sticky" id="fifteen-thirty"><p class="timetable__time_txt">15:30</p></div>

            <div class="timetable__back" id="time-back"></div>

            <div class="timetable__event timetable__stage" id="keion"><p class="timetable__event_time">11:30~11:50</p><p class="timetable__event_name">ダンス　UN-boys　「Magnetic」　軽音</p></div>
            <div class="timetable__event timetable__stage" id="quiz"><p class="timetable__event_time">12:00~13:00</p><p class="timetable__event_name">クイズ大会</p></div>
            <div class="timetable__event timetable__stage" id="sung"><p class="timetable__event_time">13:30~13:40</p><p class="timetable__event_name">歌唱「アポロドロス」　ダンス「shake it off」</p></div>
            <div class="timetable__event timetable__stage" id="mis"><p class="timetable__event_time">13:40~14:15</p><p class="timetable__event_name">ミスコン</p></div>
            <div class="timetable__event timetable__stage" id="dance"><p class="timetable__event_time">14:35~15:00</p><p class="timetable__event_name">歌唱「水平線」　「青と夏」<br>ダンス　フィンガー5「学園天国」<br>ダンス　seventeen　「super」「very nice」<br>恋ダンス（メインステージオールスター）</p></div>

            <div class="timetable__event timetable__auditorium" id="mixed-1"><p class="timetable__event_time">9:20~9:43</p><p class="timetable__event_name">合唱コンクール１年</p></div>
            <div class="timetable__event timetable__auditorium" id="mixed-2"><p class="timetable__event_time">9:46~10:15</p><p class="timetable__event_name">合唱コンクール２年</p></div>
            <div class="timetable__event timetable__auditorium" id="mixed-3"><p class="timetable__event_time">10:19~10:47</p><p class="timetable__event_name">合唱コンクール３年</p></div>
            <div class="timetable__event timetable__auditorium" id="glee"><p class="timetable__event_time">11:00~11:20</p><p class="timetable__event_name">グリー部</p></div>
            <div class="timetable__event timetable__auditorium" id="ensemble-auditorium"><p class="timetable__event_time">11:30~11:50</p><p class="timetable__event_name">アンサンブル部<br>Lord Tullamore</p></div>
            <div class="timetable__event timetable__auditorium" id="award"><p class="timetable__event_time">11:50~12:15</p><p class="timetable__event_name">表彰式</p></div>
            <div class="timetable__event timetable__auditorium" id="individual"><p class="timetable__event_time">12:15~13:30</p><p class="timetable__event_name">個人演奏</p></div>
            
            <div class="timetable__event timetable__merger" id="ensemble-merger-1"><p class="timetable__event_time">13:00~13:50</p><p class="timetable__event_name">1.フルート・クラリネット二重奏 「祝福」 2.サックス5重奏「interweave」 3.トロンボーン4重奏「勇気100%」 4.ホルン4重奏「君をのせて」 5.木管五重奏「魔女の宅急便」メドレー 6.クラリネットアンサンブル 「星に願いを」 7.Premium Brass Selection 8.吹奏楽のための「風之舞」</p></div>
            <div class="timetable__event timetable__merger" id="ensemble-merger-2"><p class="timetable__event_time">14:05~14:45</p><p class="timetable__event_name">1.We Are Confidence Man 2.天体観測
                3.宝島
                4.タイムパラドックス 5.「君の名は。」コレクション</p></div>
            <div class="timetable__event timetable__physics" id="pc-build-1"><p class="timetable__event_time">10:30~11:00</p><p class="timetable__event_name">パソコン組み立て実演</p></div>
            <div class="timetable__event timetable__physics" id="hack"><p class="timetable__event_time">11:00~11:30</p><p class="timetable__event_name">ゆるーくハッキング</p></div>
            <div class="timetable__event timetable__physics" id="tas"><p class="timetable__event_time">11:30~12:00</p><p class="timetable__event_name">TASとは？人間を超える秘密</p></div>
            <div class="timetable__event timetable__physics" id="pc-build-2"><p class="timetable__event_time">13:00~13:30</p><p class="timetable__event_name">パソコン組み立て実演</p></div>


            
    </div> 

{% endblock %}


{% block extra_js %}
{% endblock %}   