// h2{
//     font-size: 2rem;
//     margin-left: 40%;
//     width: 20%;
//     text-align: center;
//     display: inline-block;
//     border-bottom: 1px solid blue;
// }

.access {
    &_time {
        font-size: 18px;
        text-align: center;
        margin-bottom: 50px;
    }
    
    &_map{
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        &_iframe {
            width: 80vw;
            height: 40vw;
        }
    }
    &_attention{
        font-size: 18px;
        color:red;
        margin-bottom: 30px;
    }
    &_txt {
        font-size: 15px;
    }
}


