@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

// .noto-sans-jp-<uniquifier> {
//     font-family: "Noto Sans JP", sans-serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
// }

body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;    
}
html {
    background-image: url(../images/back.jpg);
}
img {
	user-drag: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
}
#load-img-pc{
    position: fixed;
    top:0;left:0;
    width: 100%;
    height:100%;
    background-color: black;
    opacity: 1;
    transition: opacity 3s ease-out;
}
#load-img-phone{
    display: none;
    position: fixed;
    top:0;left:0;
    width: 100%;
    height:100%;
    background-color: black;
    transition: opacity 3s;
    transition: opacity 3s ease-out;

}

.footer{
    background-color: #2e2930;
    color:#f3f2f2;
    margin-bottom: 0;
    text-align: center;
    padding-top: 30px;
    position: relative;
    height:170px;
    margin-top: 200px;
    &_icon {
        margin:0 10px
    }
    &_txt {
        align-items: center;
        margin-top: 50px;
    }

}

main{
    margin-top: 100px;
    margin-bottom:10px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // margin-left: 150px;
    // margin-right: 150px;
    
}
@media screen and (max-width: 648px) {
    main{
        margin-top: 40px;
        // margin-left: 60px;
        // margin-right: 60px;
    }
    #header{
        height:40px;
        background-color: none;
    }
}
h2 {
    // align-items: center;
    // border-bottom: solid 2px rgb(82, 88, 187);
    font-size: 40px;
    font-weight: 600;
    color: black;
    // background-color: #000000;
    margin-bottom: 50px;
    margin-left: 30px;
}
.header {
    background-color: rgb(255, 255, 255);
    position: relative;
    &__hamburger {
        cursor: pointer;
        position: fixed;
        border: 0px;
        top: 2px;
        right: 20px;

        height: 48px;
        width: 48px;
        z-index: 10;/*最前面にくるように数値を大きくしている*/
        & span {
            display: inline-block;
            transition: all 0.4s;
            position: absolute;
            left: 4px;
            height: 5px;
            border-radius: 100px;
            background: #000000;
            width: 40px;
            &:nth-child(1) {
                top: 18px;
            }
            &:nth-child(2) {
                top: 33px;
            }
            &:nth-child(3) {
                top: 48px;
            }
            &:nth-child(4) {
                top: 48px;
            }
            &:nth-child(5) {
                top: 48px;
            }
        }
        &.active {
            & span {
                &:nth-child(1) {
                    top: 48px;
                    left: -17px;
                    transform: translateY(-1.5px) rotate(30deg);
                    width: 40px;
                    background: #FF0000;
                }
                &:nth-child(2) {
                    top: 44px;
                    left: -9.5px;
                    transform: translateY(-4.675px) rotate(60deg);
                    width: 40px;
                    background: #FFFF00;
                }
                &:nth-child(3) {
                    top: 32px;
                    left: 0px;
                    transform: translateY(5.5px) rotate(90deg);
                    width: 40px;
                    background: #008000;
                }
                &:nth-child(4){
                    top: 44px;
                    left: 11.5px;
                    transform: translateY(-4.5px) rotate(120deg);
                    width: 40px;
                    background: #33FFFF;
                }
                &:nth-child(5){
                    top: 48px;
                    left: 17.785px;
                    transform: translateY(-1px) rotate(150deg);
                    width: 40px;
                    background: #333399;
                }
            }
        }
    }
    
}

#sp__bg {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgb(96 96 96 / 69%);
    text-align: center;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    & .nav__menu .logo3 {
        margin-bottom: 50px;
    }
    &.active {
        opacity: 1;
        visibility: visible;
        z-index: 9;
    }
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 75px;
    margin-right: 20px;
    &_link {
        font-size: 30px;
        color: white;
        margin-bottom: 15px;
    }
}