.circle {
    margin-top: 40px;
    margin-left: 30px;
    &_name {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    &__image {
        &_logo {
            width: 50vw;
        }
        margin-bottom: 50px;
    }
    &_location {
        font-size: 17px;
        margin-bottom: 30px;
    }
    &_introduction {
        font-size: 17px;
        width: 80vw;
    }
}