main {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.image {
    display: flex;
    justify-content: center;  /* 親要素内で水平方向に中央揃え */
    width: 100%;              /* 親要素の幅を100%に */
    height: auto;             /* 高さを自動調整 */
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
    img {
        width: 100%;          /* 画像の幅を親要素いっぱいに */
        max-width: 50vw;      /* 最大でディスプレイ幅の60%まで */
        height: auto;         /* 画像の縦横比を保持 */
        object-fit: contain;  /* 画像がはみ出さないように調整 */
    }
}
.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &_num {
        font-size: 20px;
        font-weight: 600;
    }
    &_koyo {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    &_onten {
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    &_day {
        font-size: 70px;
        font-weight: 700;
    }
    &_time {
        font-size: 45px;
        font-weight: 600;
        margin-bottom: 50px;
    }
    &_countdown {
        font-size: 25px;
        font-weight: 500;
    }
    &_hour {
        font-size: 55px;
        font-weight: 600;
    }
    #theday {
        display: none;
    }
    #toujitsu {
        display: block;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // margin-top: 30px;
    }
    #yesterday {
        display: block;
    }
    #zenjitu {
        display: none;
    }
    .kaisai {
        font-size: 50px;
        font-weight: 600;
    }
    &__theday {
        display: flex;
        margin-top: 30px;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        &__timetable {
            width: 180px;
            height: 180px;
            color: white;
            border-radius: 50%;
            background-color: #fb0008;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
        }
        &__ranking {
            width: 180px;
            height: 180px;
            color: black;
            border-radius: 50%;
            background-color: #fff000;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
        }
        &__game {
            width: 180px;
            height: 180px;
            color: black;
            border-radius: 50%;
            background-color: #00d61f;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
        }
        &__pc {
            width: 180px;
            height: 180px;
            color: black;
            border-radius: 50%;
            background-color: #05aafe;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 480px) {
    #load-img{
        &-pc{display: none;}
        &-phone{display: block;}
    }

}
.attention {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1.7;
    text-align: start;
    div {
        width: 80vw;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        h6 {
            font-size: 20px;
            font-weight: 600;
            margin-top: 30px;
        }
        & span {
            color: rgb(190, 123, 0);
            font-weight: 600;
        }
        & p {
            font-size: 16px;
            font-weight: 400;
        }
    }
}

