main {
    margin-left: 0;
    margin-right: 0;
}
.map-main{
    position: relative;
    font-weight: 400;
    overflow-x: hidden;
}
// .button-container{
//     // width:70%;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     overflow-x: scroll;
//     /* padding-top:50px; */
// }
.map-text{
    color:white;
}

.map{
    margin: 0 -5vw;
    padding: 20px;
}
.map-each{
    width:100%;
}
.map-scroll{
    overflow: auto;
    width: 100%;
}
.map-image{
    position: relative;
    vertical-align: bottom;
    width: 100%;
}
.booth-container{
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 12.75%;
    right: 12.75%;
}
.map-element{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    cursor: pointer;
    display: grid;
    place-content: center;
    color: #e2e2e2;
    font-weight: bold;
    text-align: center;
    border: #303030 2px solid;
}
.map{
    // &-clab{
    //     background-color: #19448e;
    // }
    // &-honbu{
    //     background-color: #4169e1;
    // }
    // &-stage{
    //     background-color: #89c3eb;
    // }
    &-female{
        background-color: rgb(144, 0, 0);
    }
    &-male{
        background-color: rgb(0, 0, 255);
    }
}
.map-felement{
    position: absolute;
    /* background-color: #000b; */
    cursor: pointer;
    display: grid;
    place-content: center;
    text-align: center;
}
.map-link-room{
    position: absolute;
    padding: 0px 8px;
    overflow: hidden;
    font-size: 10px;
    top: 0;
    left: 0;
    border-top: none;
    border-left: none;
    text-align: center;
}
.map-link-name{
    line-height: 1.2;
    font-size: 0.8rem;
    word-wrap: break-word;
    display:flex;
    color: black;
}
.ftext{

    font-size: 15px;
    word-wrap: break-word;
    display:flex;
}
.ftext2{
    background-color: white;
    font-size: 13px;
    word-wrap: break-word;
    display:flex;
}
.map-toilet-room{
    overflow: hidden;
    font-size: 10px;
    border-top: none;
    border-left: none;
    text-align: center;
}
.map-bottom-toilet-room{
    overflow: hidden;
    font-size: 7px;
    border-top: none;
    border-left: none;
    text-align: center;
}
.display-flex{
    display: flex;
    position: relative;
}
.place{
    position: absolute;
    left:70%;
    font-family: "makinas-4-square";
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    padding-top: 50px;
    width: 90vw;
    margin: auto;

    .button {
        width: 80px;
        height: 40px;
        text-align: center;
        font-size: 14px;
        margin: 10px;
        background-color: rgba(0, 0, 255, 0.082);
        flex: 0 0 auto;  // ボタンがサイズ変更されないように設定

        &-1 {
            &:hover {
                background-color: #ec464ca9;
            }
        }

        &-2 {
            &:hover {
                background-color: #fff200b3;
            }
        }

        &-3 {
            &:hover {
                background-color: #00d520ae;
            }
        }

        &-4 {
            &:hover {
                background-color: #00abfab3;
            }
        }

        &-5 {
            &:hover {
                background-color: #3d47d492;
            }
        }
    }
}
@media screen and (max-width:610px) {
    .circle_p_name {
        font-size: 7px;
    }
    .map-link-name {
        font-size: 7px;
    }
    .map-toilet-room {
        font-size: 4px;
    }
}