main {
    margin-left: 20px;
    margin-right: 20px;
}
.timetable {
    display: grid;
    grid-template-columns: 50px 170px 170px 170px 170px;
    grid-template-rows: 40px 30px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-areas: "nine stage auditorium physics audiovisual merger";
    // row-gap: 20px repeat(14, 0);
    overflow-x: scroll;
    &__place {
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0; /* 上部に固定 */
        z-index: 6; /* 他の要素より前に表示 */
        &_txt {
            font-size: 15px;
        }
    }
    &__time {
        &_txt {
            font-size: 16px;
        }
    }
    &__sticky {
        position: sticky;
        left: 0; /* 横スクロールに対して固定 */
        z-index: 6; /* 他の要素の上に表示されるようにする */
        background-color: rgba(255, 255, 255, 0.800);
    }
    // &__place {
    //     position: sticky;
    //     top: 0;
    //     z-index: 6;
    // }
    &__back {
        background-color: rgba(64, 137, 200, 0.115);
    }
    .timetable__event_time {
        position: relative;
        top: 0%;
    }
    &__event {
        text-align: center;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;

        &_time {
            font-size: 13px;
            font-weight: 600;
            // margin-bottom: 10px;
            
        }
        &_name {
            font-size: 15px;
            font-weight: 600;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
        }
    }
    &__stage {
        background-color: #ff000dbc;
        grid-column: 2;
    }
    &__auditorium {
        grid-column: 3;
        background-color: #fef100bc;
    }
    &__merger {
        background-color: #05d522bc;
        grid-column: 4;
    }
    &__physics {
        grid-column: 5;
        background-color: #01abfdbc;
    }
    #stage {
        grid-column: 2;
        grid-row: 1;
        background-color: #ff000ccf;
    }
    #auditorium {
        grid-column: 3;
        grid-row: 1;
        background-color: #fef100cf;
    }
    #merger {
        grid-column: 4;
        grid-row: 1;
        background-color: #05d522cf;
    }
    #physics {
        grid-column: 5;
        grid-row: 1;
        background-color: #01abfdcf;
    }
    // #audiovisual {
    //     grid-column: 6;
    //     grid-row: 1;
    //     background-color: #3e48d1cf;
    // }
    #space {
        grid-row: 2;
    }
    #fix-x {
        grid-column: 1/7;
        grid-row: 1;
    }
    #nine {
        grid-column: 1;
        grid-row: 3;
    }
    #nine-thirty {
        grid-column: 1;
        grid-row: 4;
    }
    #ten {
        grid-column: 1;
        grid-row: 5;
    }
    #ten-thirty {
        grid-column: 1;
        grid-row: 6;
    }
    #eleven {
        grid-column: 1;
        grid-row: 7;
    }
    #eleven-thirty {
        grid-column: 1;
        grid-row: 8;
    }
    #twelve {
        grid-column: 1;
        grid-row: 9;
    }
    #twelve-thirty {
        grid-column: 1;
        grid-row: 10;
    }
    #thirteen {
        grid-column: 1;
        grid-row: 11;
    }
    #thirteen-thirty {
        grid-column: 1;
        grid-row: 12;
    }
    #fourteen {
        grid-column: 1;
        grid-row: 13;
    }
    #fourteen-thirty {
        grid-column: 1;
        grid-row: 14;
    }
    #fifteen {
        grid-column: 1;
        grid-row: 15;
    }
    #fifteen-thirty {
        grid-column: 1;
        grid-row: 16;
    }
    #time-back {
        grid-column: 2/6;
        grid-row: 3/17;
    }
    #margin {
        grid-column: 1;
        grid-row: 1;
    }

    #keion {
        grid-row: 8/9;
        margin-bottom: 33px;
    }
    #quiz {
        grid-row: 9/11;
    }
    #sung {
        grid-row: 12/13;
        margin-bottom: 66px;
        & p {
            font-size: 9px;
        }
    }
    #mis {
        grid-row: 13/14;
        margin-top: -65px;
        margin-bottom: 50px;
    }
    #dance {
        grid-row: 14/15;
        margin-top: 8px;
        & p {
            font-size: 10px;
        }
    }
    #mixed-1 {
        grid-row: 4/5;
        margin-top: -33px;
        margin-bottom: 55px;
    }
    #mixed-2 {
        grid-row: 5/6;
        margin-top: -48px;
        margin-bottom: 50px;
    }
    #mixed-3 {
        grid-row: 6/7;
        margin-top: -33px;
        margin-bottom: 15px;
    }
    #glee {
        grid-row: 7/8;
        margin-bottom: 33px;
    }
    #ensemble-auditorium {
        grid-row: 8/9;
        margin-bottom: 33px;
    }
    #award {
        grid-row: 9/10;
        margin-top: -33px;
        margin-bottom: 50px;
    }
    #individual {
        grid-row: 10/12;
        margin-top: -50px;
    }
    #ensemble-merger-1 {
        grid-row: 11/12;
        & p {
            font-size: 9px;
        }
    }
    #ensemble-merger-2 {
        grid-row: 13/14;
        margin-top: 9px;
        margin-bottom: -50px;
        & p {
            // font-size: 9px;
        }
    }
    #pc-build-1 {
        grid-row: 6/7;
    }
    #tas {
        grid-row: 8/9;
    }
    #hack {
        grid-row: 7/8;
    }
    #pc-build-2 {
        grid-row: 11/12;
    }
}